@font-face
	font-family: impactlabelreversed;
	src: url('../images/impactlabelreversed.ttf');

@font-face
	font-family: impactlabel;
	src: url('../images/impactlabel.ttf');

body
	padding: 50px
	background-color: #474747;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-image: url('../images/background.jpg');*/

a
	color: #ffffff;
	background-color: #232323;
	text-decoration: none;
	margin-top: 2px;
	font-size: 30px;
	font-family: impactlabelreversed;

a:hover
	background-color: #d6006f;

img
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;

#load-more
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	display: block;
	background-color: #232323;
	font-family: impactlabelreversed;
	font-size: 50px;
	color: #ffffff;
	width: 452px;
	height: 66px;
	border: 0px;

#load-more:hover
	background-color: #d6006f;

#the-end
	background-image: url('../images/end_gif.gif');
	background-repeat: none;
	width: 232px;
	height: 66px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	display: block;

#menu
	position: absolute;
	left: 10px;
	top: 10px;

#menu a
	float: left;
	clear: both;

#menu span
	float: left;
	clear: both;

	color: #000;
	text-decoration: none;
	margin-top: 2px;
	font-size: 30px;
	font-family: impactlabelreversed;

